<div id="home" class="bg_parallax" data-type="background" data-speed="10">
	<h1>Code / Cause</h1>
</div>

<div id="stat" class="bg_parallax" data-type="background" data-speed="20">
	<h1>Stat</h1>
</div>

<div id="about" class="bg_parallax" data-type="background" data-speed="40">
	<h1>About</h1>
</div>

