<div id="home" class="bg_parallax" data-type="background" data-speed="10">
	<div class="intro"></div>
		<h1>Donate your dev skills to an outstanding cause.</h1>
</div>

<div id="about" class="bg_parallax" data-type="background" data-speed="40">
	<h1>How It Works</h1>
	<p>Code Cause links more and less technical do-gooders. Coders can find causes that have been submitted by non-profits, charitable organizations and neighborhood organizers. Coders can build up their portfolios while contributing their skills pro bono to worthy causes they care about.
		<ul>
			<li>A Do-gooder can create a “Cause Profile” that describes their project, along with a list of skills and technologies they would need their prospective Coder to have.</li>
			<li>A Coder can browse Cause Profiles and express interest in a cause.</li>
			<li>Once a Coder has expressed interest in a cause, the do-gooder is then able to view the coder's profile and contact information.</li>
		</ul>
		Start searching causes now!
	</p>
</div>