<% if @current_user %>
  <h1>Welcome <%= @do_gooder.name.capitalize %></h1>

  <h2>About Me: <%= @do_gooder.about %></h2>

<!-- a button goes here goes here for the action to create a new cause -->
<button class="btn btn-default" id="create-cause">MAKE A FUCKIN' CAUSE. WHY? CAUSE.</button>
<div id="cause-form"></div>

<% end %>
